body {
    margin: 20px auto;
    width: 100%;
    max-width: 1900px;
}

div {
    width: 100%;
    max-width: 600px;
    float: left;

    /*margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-left: 20px;*/

    margin: 10px 25px 15px 20px;
    padding: 25px;

    border-top: 2px double red;
    border-left: 2px dotted blue;
    border-bottom: 2px solid green;
    border-right: 2px dotted #ffa600;

    /*border-color: blue;
    border-style: double;
    border-width: 2px;*/
    /*border: 2px double blue;*/

    border-radius: 25px;

    background-image: url(../../curs2/images/android-chrome-512x512.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #ad1e1e;

}